.stockTable{
    display: grid;
    margin-top: 20px;
}


.stockTable_toolBar{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 20px;
    width: 80%;
    justify-content: center;
    margin: auto;
}

.stockTable_toolBar .input{
    width: 100%;
}

.stockTable .uploadCover{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0c5460;
}
.stockTable .modalWrapper {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.stockTable .modalWrapper .cover {
    grid-row: 1 / span 1;
    margin: auto;
    object-fit: cover;
    height: 500px;
    width: auto;
    border-radius: 5px;
    border: 1px solid black;
}

.stockTable .modalWrapper .coverControl {
    display: grid;
    grid-row: 2 / span 1;
    margin: 50px auto auto auto;
    object-fit: cover;
    width: auto;
    border-radius: 5px;
    /*border: 1px solid black;*/
    align-items: center;
    grid-template-columns: 50% 50%;
}
