.bookDetail_wrapper {
    display: grid;
    grid-template-rows: 80% 20%;
    width: 100%;
    height: 100%;
    margin: 0;
    grid-column-gap: 5%;
}

.bookDetail_wrapper .book {
    display: grid;
    width: auto;
    height: auto;
    grid-row: 1 / span 1;
    grid-template-columns: 50% 50%;
    border-radius: 5px;
}

.bookDetail_wrapper .cover {
    display: flex;
    grid-column: 1 / span 1;
    margin: auto;
    object-fit: contain;
    height: 100%;
    width: auto;
    max-width: 80%;
    border-radius: 5px;
}

.bookDetail_wrapper .info {
    display: flex;
    grid-column: 2 / span 1;
    flex-direction: column;
    justify-content: center;
    line-height: 2em;
    padding-left: 10.5%;
    padding-right: 10.5%;
}

.bookDetail_wrapper div {
    padding: 5%;
    border-radius: 5px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
}

p {
    margin: 0;
    padding: 0;
    font-size: 0.85vw;
}

.bookDetail_wrapper .name, .bookDetail_wrapper .intro, .bookDetail_wrapper .author{
    line-height: normal;
    text-align: center;
}

.bookDetail_wrapper .option {
    display: grid;
    grid-row: 2 / span 1;
    width: 100%;
    height: 100%;
    grid-template-columns: 50% 50%;
}


.bookDetail_wrapper button {
    margin: auto;
    padding: 2% 3% 2% 3%;
    width: auto;
    border-radius: 5px;
    background: none;
    font-size: 1vw;
    font-family: 'Montserrat', serif;
    outline: none;

    transition: background-color 400ms;
}
